{% extends "base.html" %}

{% block title %}Artist Search{% endblock %}

{% block content %}
<h1 class="text-center">Artist Search Tool</h1>

<div class="card mx-3 my-3 px-2 py-2">
    <div class="card-title">
        <h2>Search for an artist</h2>
    </div>
    <div class="card-body">
        <!-- Form using POST method in /artistSearch router, in which the user enters the name of the artist to search -->
        <form action="/artistSearch" method="POST">
            <input type="text" class="form-control" id="artistToSearch" name="artistToSearch" placeholder="Enter the name of an artist">
            </br>
            <button class="btn btn-secondary" type="submit">Search Artist</button>
        </form>
    </div>
</div>

<!-- If the recent_albums object (context given from application.py) is an empty string, inform the user that the input was invalid and instruct them to try again -->
{% if recent_albums == "": %}
<div class="card mx-3 my-3 px-2 py-2 alert alert-danger" role="alert">
    <h3>Invalid input, please try again!</h3>
</div>
<!-- If the recent_albums object exists -->
{% elif recent_albums: %}
<div class="card mx-3 my-3 px-2 py-2">
    <!-- Display the name of the artist that was the best match for the search term -->
    <h2 class="card-title">Artist Found: </h2>
    <h3 class="card-body">{{ artist_name }}</h3>
</div>

<div class="card mx-3 my-3 px-2 py-2">
    <h2 class="card-title">{{ artist_name }}'s Most Recent Albums</h2>
    <div class="card-body" id="albums_output">
        <table class="table album-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Album Name</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- to generate table body, iterate through recent_albums list, in which each item is a dictionary defining an album in recent_albums -->
                {% for album in recent_albums %}
                <tr>
                    <td class="align-middle"><img src="{{ album.cover }}"  class="rounded mx-auto d-block"></td> <!-- album art -->
                    <td class="align-middle">{{ album.name }}</td>
                    <td class="align-middle">{{ album.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<!-- if the songs object (context from application.py) is an empty string, do not display anything in this section. The user is informed of the error above. -->
{% if songs == "": %}
<div>
    </br>
</div>
<!-- if the songs object exists -->
{% elif songs: %}
<div class="card mx-3 my-3 px-2 py-2">
    <h2 class="card-title">{{ artist_name }}'s Top Songs on Spotify</h2>
    <div class="card-body" id="songs_output">
        <table class="table song-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Song Name</th>
                    <th>Preview</th>
                    <th>Album</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
                <!-- To generate table body, iterate through songs list, in which each item is a dictionary defining a song in the top songs list -->
                {% for song in songs %}                
                <tr class="align-middle">
                    <td><img src="{{ song.cover }}"  class="rounded mx-auto d-block"></td> <!-- album art for song -->
                    <td>{{ song.name }}</td>
                    <td>
                        <!-- if the Spotify API returned null for the preview_url, the user cannot preview the song audio. Inform the user. -->
                        {% if song.preview == None %}
                            <p>Sorry! Preview is not available for this song.</p>
                        {% else %}
                        <!-- else, provide the user with a "play/pause" button to be able to preview the song. On click, calls the playPause JavaScript function -->                        
                            <button type="button" class="btn btn-outline-primary" onClick="playPause(event)">
                                <audio id="{{ song.name }}" src="{{ song.preview }}">
                                    Your browser does not support audio playback.
                                </audio>   
                                Play/Pause {{ song.name }}
                            </button>
                        {% endif %}
                    </td>
                    <td>{{ song.album }}</td>
                    <td>{{ song.date }}</td>
                </tr>                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // initialize variables to define whether audio is playing, and what the last audio played was
    var isPlaying = false;
    var lastAud;

    function playPause(e) {
        // on event (onClick), use the event target with a query for the "audio" HTML tag associated with the click event (set this to aud)
        var aud = e.target.querySelector("audio")
        if (isPlaying && lastAud!=null) {
            // if isPlaying is set to TRUE, and lastAud exists (is not null), pause the last audio that was playing, set isPlaying to FALSE
            lastAud.pause();
            isPlaying = false;
        } else {
            // else, set lastAud to the curent audio tag value
            lastAud = aud;
            // set the audio volume to 0.5 (avoid blown eardrums)
            aud.volume = 0.5;
            // play the audio source file associated with the audio HTML tag being acted upon
            aud.play();
            // set isPlaying to TRUE
            isPlaying = true;
        }
    }
</script>
{% endif %}

{% endblock %}